/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
}

header {
    display: flex;
    padding-right: 0px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}
.logo {
    height: 19px;
    align-self: center;
    padding: 30px 0;
}

.menu {
    display: flex;
    justify-self: flex-end;
    flex-direction: row;
    align-items: center;
    gap: 68px;
    margin-top: 0;
}

.black {
    color: inherit;
}

.menu a {
    color: var(--blue, #0065FC);
    text-align: center;
    height: 35px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-decoration: none;
}

.blue-bar{
    width: 100%;
    height: 2px;
    background: transparent;
    background: var(--blue, #0065FC);
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    text-decoration: none;
    color: inherit;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
.recherche-and-filtres{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
}

.serch-title h3{
    font-size: 22px;
    padding: 0;
    margin: 0;
    color: #000;

    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
}
.serch-title p {
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.serch-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    height: 51px;
    border-radius: 15px;
    border: 1px solid var(--grey, #F2F2F2);
    background: var(--white, #FFF);
}
.serch-bar i {
    padding: 17px 0;
}
.serch-bar input {
    border: 0;
    color: var(--black, #000);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    height: 100%;
}
.serch-bar button{
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--blue, #0065FC);
    background: var(--blue, #0065FC);

    color: var(--white, #FFF);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 100%;
}

.filtres {
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 15px;
}
.filtres button:hover{
        background: var(--blue-light, #DEEBFF);
}
.button-filter {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.button-filter div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.filtres button {
    display: flex;
    height: 50px;
    padding: 4px 19px;
    align-items: center;
    gap: 10px;
    background: transparent;

    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);

    color: var(--black, #000);
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
.info-bar div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    width: 24px;
    height: 24px;
    border: solid 1px #D9D9D9;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    
    align-self: stretch;
}
.hebergements-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.hebergements-card .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    padding-bottom: 0;
    border-radius: 20px;
    background: #FFF;

    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.hebergements-card img {
    height: 124px;
    min-width: 250px;
    align-self: stretch;

    border-radius: 20px 20px 0px 0px;
    border: 5px solid var(--white, #FFF);
}

.hebergements-card  .card-content {
    display: flex;
    padding: 0px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.hebergements-card .card-title {
    align-self: stretch;
    padding: 0;
    margin: 0;
}

.hebergements-card .card-subtitle {
    margin: 0;
    padding: 0;
}

.hebergements-card .card-rating {
    margin-bottom: 5px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******** Activités ********/
.activites-div {
    padding: 30px;
    
}
.activites-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
}
.activites-card .card {
    width: 25%;
}

.activites-card img {
    width: 100%;
    height: 380px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 20px 20px 0px 0px;
}
.activites-card .card-subtitle {
    width: 100%;
    height: 59px;
    display: flex;
    justify-content: center;
}

/*********Footer**********/

footer {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    background: var(--grey, #F2F2F2);
    margin-top: 65px;
}

footer section {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
    align-self: stretch;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    main {
        gap: 35px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activites-div {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .activites-div h2 {
        margin: 0;
    }
    .activites-card {
        flex-wrap: nowrap;
    }
   .activites-card .card {
        width: 25%;
        display: flex;
        flex-direction: column;   
        align-items: flex-start;

   }
   .activites-card img {
        width: 100%;
        height: 200px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
   }
   .activites-card .card-subtitle {
    height: 70px;
   }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .main-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0;
    }
    header {
        flex-direction: column;
    }

    .menu {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        margin: 0;
        gap: 0;
    }
    .menu a {
        flex-direction: column-reverse;
        width: 50%;
    }
    .menu a .blue-bar {
        width: 100%;
    }

    .recherche-and-filtres {
        padding: 0 20px;
    }
    .serch-bar {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .serch-bar svg{
        width: 50px;
        height: 49px;
        flex-shrink: 0;
    }
    .serch-bar input{
        font-size: 14px;
    }
    .button-filter {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
        margin: auto;
        width: 100%;
    }
    .button-filter div {
        gap: 10px;
    }
    .filtres {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    
    .button-filter button {
        width: 49%;
        font-size: 14px;
    }

    .info-bar p{
        text-align: justify;
    }
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
        padding: 0;
    }
    .populaires {
        margin-top: 0;
    }
    .hebergements-and-populaires section.populaires {
        padding: 30px 20px;
        border-radius: 0px;
        gap: 15px;
    }

    .hebergements-and-populaires section.hebergements{
        background-color: inherit;
        padding: 20px;
        gap: 15px;
    }
    .populaires-cards {
        flex-direction: column;
        gap: 15px;
    }
    .populaires .card {
        width: 100%;
        padding: 0;
        max-width: 100%;
    }
    .hebergements-card {
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }
    .hebergements .card {
        width: 100%;
        padding: 0;
    }
    .hebergements img{
        width: auto;
    }

    .activites-div {
        padding: 30px;
    }

    .activites-card {
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }
    .activites-card .card {    
        width: 100%;
    }
    .activites-card img {
        width: 100%;        
    }
    .activites-card .card-subtitle {
        height: 59px;
       }
    footer {
        flex-direction: column;
        gap: 50px;
        margin-top: 0;
        padding: 30px;
    }
    footer section {
        padding: 0;
    }
}